<h1>Editing film</h1>

<% form_for(@film) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :imdb_id %><br />
    <%= f.text_field :imdb_id %>
  </p>
  <p>
    <%= f.label :place %><br />
    <%= f.text_field :place %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @film %> |
<%= link_to 'Back', films_path %>
